body{
	background-color: #F3E4D1;
	font-family: Arial, Verdana, Helvetica, "Times New Roman", serif;
	display: table;
}
h1{
	color: #056CBE;
}
h2{
	color: #056CBE;
}
header{
	text-align: center;
	background-color: #E7C9A2;
	font-size: 125%;
}
footer{
	text-align: center;
	background-color: #EFD9B8;
	font-size: 125%;
}
nav{
	background-color: #EFD9B8;
}
th{
	font-weight: 300;
}
strong{
	font-family: Helvetica;
	font-weight: 300;
}
ul[id="education-list"]{
	background-color: green;
	display: table-row;
	margin: 0 auto;
}
ul[id="education-list"] > li{
	width: 33.33%;
	display: table-cell;
	background-color: lightgreen;
	border: solid 2px #000000;
}
section[id="scholastic-achievements"]{
	background-color: lightblue;
	clear: both;
}
section > h2{
	background-color: grey;
}
#back-to-top{
	text-align: right;
}
