body{
	background-color: #EBDAB9;
	margin: 0;
}

.wrap{
	background-color: #F3E4D1;
	font-family: Helvetica, Arial, serif;
}

section{
	clear: both;
	padding: 5px;
	background: linear-gradient(#F3E4D1 0%, #EFD6B8 80%, #F3E4D1 100%);
}

header{
	padding: 5px 0px;
	margin: 5px 0px;
	background-color: #E7C9A2;
	background: linear-gradient(#E7C9A2 0%, #F3E4D1 100%);
}

footer{
	padding: 5px 0px;
	margin: 5px 0px;
	background-color: #E7C9A2;
	background: linear-gradient(#F3E4D1 0%, #E7C9A2 100%);
}

h1{
	text-align: center;
	font-size: 225%;
	color: #262CFF;
	font-variant: small-caps;
	padding: 5px;
}

h2{
	margin-top: 2px;
	text-align: center;
	font-variant: small-caps;
	color: #262CFF;
	font-size: 175%;
	padding: 5px;
	font-weight: 400;
}

nav{
	font-variant: all-small-caps;
	font-size: 20px;
	padding: 0px 5px;
	margin: 5px;
	max-height: 0px;
	overflow: hidden;
	transition: all .3s ease;
}

header> input{
	display: none;
}

label{
	font-size: 22px;
	text-align: center;
	color: #5F5F5F;
	cursor: pointer;
	border: 1px solid #5F5F5F;
	border-radius: 10px;
	display: inline-block;
	width: 25px;
	padding: 4px 8px;
	margin: 5px;
}

input:checked + label{
	color: #5F5F5F;
	border: 2px solid #5F5F5F;
	padding: 3px 7px;
}

input:checked ~ nav{
	max-height: 300px;	
}

a{
	cursor: pointer;
}

nav> a{
	border-radius: 5px;
	padding: 3px;
	margin: 3px;
	text-decoration: none;
	display: block;
	width: 22%;
}

footer> a{
	text-align: center;
	padding: 3px;
	margin: 3px;
	font-variant: all-small-caps;
	font-size: 20px;
	text-decoration: none;
	display: inline-block;
	width: 22%;
}

a[id="back-to-top"]{
	display: block;
}

a:visited{
	color: #262CFF;
}

nav> a:hover, footer> a:hover{
	text-decoration: underline;
}

nav> a:focus, footer> a:focus{
	text-decoration: underline;
}

nav> a:active, footer> a:active{
	color: #5F5F5F;
}

:focus{
   outline:0;
}